/** Colors */
$black: #242424;
$grey: #c1c1c1;
$light_grey: #e1e1e1;
$dark_grey: #464646;
$white: #ffffff;

/** Woo colors */
$black_half: rgba(36 36 36 / 75%);
$black_full: rgba(36 36 36 / 100%);
$purple: #a46497;
$green: #8fae1b;
$grey: #ebe9eb;

/** Social media colors */
$instagram: #c32aa3;
$facebook: #1877f2;
$twitter: #1da1f2;
$youtube: #ff0000;

/** Font variables */
$sf_pro_text: sf-pro-text, sans-serif;

/** WordPress grid breakpoint */
$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    wpmd: 783px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px,
);
