/** Header container */
#app {
    #header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
        font-family: $sf_pro_text;
        color: $black;
        padding: 1.5625rem;
        z-index: 2;

        @include text_size_24;

        #main-navigation {
            #menu-header {
                @include media-breakpoint-down(sm) {
                    flex-direction: column;
                }

                .menu-item {
                    margin-right: 1rem;

                    &:last-child {
                        margin-right: 0;
                    }

                    a {
                        text-transform: uppercase;
                        color: $black;
                        text-decoration: none;
                        transition: 0.2s ease-in-out all;
                        position: relative;

                        &::before {
                            content: '';
                            position: absolute;
                            top: calc(50% - 1px);
                            left: 0;
                            width: 0;
                            height: 2px;
                            background-color: $black;
                            transition: 0.2s ease-in-out all;
                        }

                        &:hover {
                            transition: 0.2s ease-in-out all;

                            &::before {
                                width: 100%;
                                transition: 0.2s ease-in-out all;
                            }
                        }
                    }
                }
            }
        }

        #branding {
            position: absolute;
            left: 50%;
            z-index: 2;

            @include media-breakpoint-down(sm) {
                left: 45%;
            }

            .brand {
                .logo {
                    width: 5.209vw;
                    height: 11.482vh;
                    max-width: 100px;
                    max-height: 124px;
                    position: relative;

                    @include media-breakpoint-down(sm) {
                        width: 15vw;
                    }

                    &::before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-image: url('~@images/fronation-header-logo-bw.png');
                        background-repeat: no-repeat;
                        background-position: 50% 0;
                        background-size: contain;
                        transition: 0.2s ease-in-out all;
                    }

                    &:hover {
                        &::before {
                            background-image: url('~@images/fronation-header-logo-rgb.png');
                            transition: 0.2s ease-in-out all;
                        }
                    }
                }
            }
        }

        #shop-navigation {
            .cart-button {
                position: relative;
                color: $black;
                transition: 0.2s ease-in-out all;

                &:hover {
                    color: $dark_grey;
                    transition: 0.2s ease-in-out all;
                }

                svg {
                    @include cart_height;
                }

                .cart-count {
                    line-height: 0.75;
                    font-weight: bold;
                    color: $white;
                    text-align: center;
                    text-decoration: none !important;
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 6px;

                    @include media-breakpoint-up(md) {
                        bottom: 8px;
                    }

                    @include text_size_18;
                }
            }
        }
    }
}
