/** About page */
.main {
    &#about {
        #about-container {
            #main-content {
                #content {
                    #image {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                    }
                    
                    #text {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;

                        @include media-breakpoint-down(sm) {
                            margin-top: 1rem;
                        }

                        h1 {
                            font-weight: bold;
                            text-transform: uppercase;

                            @include text_size_48;
                        }

                        h2 {
                            font-weight: bold;
                            text-transform: uppercase;

                            @include text_size_36;
                        }
                    }
                }
            }
        }
    }
}
