/** Legal pages */
.main {
    /** Terms and conditions page */
    &#terms-conditions {
        #main-content {
            #text {
                h1 {
                    font-weight: bold;
                    text-transform: uppercase;
                    text-align: center;
                    padding: 2rem 0;

                    @include text_size_64;
                }
            }
        }
    }

    /** Privacy policy page */
    &#privacy-policy {
        #main-content {
            #text {
                h1 {
                    font-weight: bold;
                    text-transform: uppercase;
                    text-align: center;
                    padding: 2rem 0;

                    @include text_size_64;
                }
            }
        }
    }

    /** Refunds and returns page */
    &#refund_returns {
        #main-content {
            #text {
                h1 {
                    font-weight: bold;
                    text-transform: uppercase;
                    text-align: center;
                    padding: 2rem 0;

                    @include text_size_64;
                }
            }
        }
    }
}
