/** Single product page */
.main {
    &#single-product {
        #container {
            .page-container {
                #main-content {
                    #content {
                        > :last-child {
                            float: left;
                        }
                    }
                }
            }
        }

        #main-content {
            .product_title {
                font-weight: bold;
                text-transform: uppercase;
                padding: 2rem 0;
                border-bottom: 1px solid;
                margin-bottom: 2rem;

                @include text_size_36;
            }

            .summary {
                width: 58%;

                @include media-breakpoint-down(sm) {
                    float: left;
                    width: 100%;
                }

                .price {
                    font-weight: 400;
                    color: $black;

                    @include text_size_36;
                }
            }

            .cart {
                select {
                    min-height: 50px;
                    border: 1px solid $grey;
                    background-color: $white;
                }

                table {
                    tbody {
                        tr {
                            .label {
                                vertical-align: inherit;
                            }
                        }
                    }
                }
            }

            .variations_button {
                display: flex;

                .quantity {
                    margin-right: 0.5rem;
    
                    .qty {
                        height: 100%;
                        width: 5rem;
                        border-radius: 0;
                        border: 1px solid $grey;
                        padding: 0.25rem;
                    }
                }
            }

            .product {
                min-height: 100%;

                .images {
                    width: 38%;

                    @include media-breakpoint-down(sm) {
                        float: left;
                        width: 100%;
                    }
                }

                .woocommerce-tabs {
                    float: right;
                    width: 58%;
                    clear: none;

                    @include media-breakpoint-down(sm) {
                        float: left;
                        width: 100%;
                    }

                    .tabs {
                        padding-left: 0;

                        li {
                            border-radius: 0;

                            &::before {
                                left: 0;
                                border-bottom-right-radius: 0;
                                box-shadow: none;
                            }

                            &::after {
                                right: 0;
                                border-bottom-left-radius: 0;
                                box-shadow: none;
                            }

                            &.active {
                                background-color: $light_grey;
                                color: $black;
                                border: 1px solid $grey;
                                border-bottom-color: $light_grey;
                                margin: 0;
                            }
                        }
                    }

                    .panel {
                        h2 {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
